<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de clientes</title>
</head>
<body>
  <h1>Informe seu nome e idade:</h1>
  <form action="/saudacao" method="POST">
    
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email" required><br><br>

    <label for="Senha">Senha:</label>
    <input type="password" id="Senha" name="Senha" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>